{{>navbar user=user}}

{{#each products}}
    <img src="/products/{{image}}" alt="" srcset="">
    <h3><a href="../products/{{pid}}">{{name}}</a></h3>
    <h4><i>{{description}}</i></h4>
    <b>${{price}}</b>
{{/each}}