{{>navbar user=user}}
<form action="/cart/{{pid}}" method="post">
    <img src="/products/{{image}}" alt="" srcset="">
    <h1>{{name}}</h1>
    <h3>{{description}}</h3>
    <h4><i>${{price}}</i></h4>
    <h5>{{stock}} units</h5>
    <input type="submit" value="Add to cart" class="btn btn-secondary">
</form>