{{>navbar user=user}}

<img src="profile/{{profile_avatar}}">
{{#if check}}
    <form action="/../profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <input type="submit" value="Upload image"/>
    </form>
{{/if}}

<h1>Name:</h1>
<h3>{{profile_name}}</h3>
<h1>Email:</h1>
<h3>{{profile_email}}</h3>
<h1>Address:</h1>
<h3>{{profile_address}}</h3>
<h1>Age:</h1>
<h3>{{profile_age}}</h3>
<h1>Phone prefix:</h1>
<h3>{{profile_prefix}}</h3>
<h1>Phone number</h1>
<h3>{{profile_phone}}</h3>