{{>navbar user=user}}

<img src="/profile/{{profile_avatar}}">
{{#if check}}
    <form action="/../profile" method="post" enctype="multipart/form-data">
      <input type="file" name="avatar" />
      <input type="submit" value="Upload image"/>
    </form>
{{/if}}

<h1>{{profile_email}}</h1>
<h1>{{profile_name}}</h1>
<h1>{{profile_address}}</h1>
<h1>{{profile_age}}</h1>
<h1>{{profile_prefix}}</h1>
<h1>{{profile_phone}}</h1>
 
<button class="btn btn-primary"><a class="text-light" href="/profile/edit/{{profile_uid}}">Edit profile</a></button>